.App{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  min-height: 100vh;
}

header{
  display: flex;
  color: aliceblue;
  background-color: black;
  height: 70px;
  padding: 0 40px;
  padding-bottom: 5px;
  align-items: center;
}

.content{
  margin: 0 30px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.card{
  -webkit-box-shadow: 4px 4px 12px 1px rgba(0,0,0,0.51);
  -moz-box-shadow: 4px 4px 12px 1px rgba(0,0,0,0.51);
  box-shadow: 4px 4px 12px 1px rgba(0,0,0,0.51);
  background-color: white;
  width: 40%;
  margin: 10px;
  padding:10px 30px;
  min-width: 300px;
}

.card .negative{
  color:red;
}

.card .positive{
  color:green;
}
.card-top{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card-bottom{
  display: flex;
  justify-content: space-evenly;
}

.loading{
  margin-top: 10%;
}